<div id="stories_div">
<h1>Map of <%= @category.capitalize %> Opinions</h1>
<p>
<% if current_user %>
<span class="button"><%= link_to 'Map a new opinion', new_map_path %></span>
<% else %>
<span class="button"><%= link_to "Register", new_account_path %></span> or <span class="button"><%= link_to "Log In", new_user_session_path %> to map a opinion</span>
<% end %>
</p>

<%= render (:partial=>'map', :locals=>{:data=>"/maps/" + @category + "/maps.xml"}) %>

<p class="button">
<%= link_to "Highlights", "/maps/highlight/", :action => "highlight" %>
<%= link_to "Needs Improvements", "/maps/improvement/", :action => "improvement" %>
<%= link_to "Articles", "/maps/article/", :action => "article" %>
<%= link_to "Stories", "/maps/story/", :action => "story" %>
</p>
<span class="button"><%= link_to 'All', maps_path %></span>

<h2>Recent <%= @category.capitalize %> Opinions</h2>
<span class="author"><%= page_entries_info @maps_paginate, :entry_name => 'opinions' %></span>

<% for map in @maps_paginate %>
	<p style="padding:10px;" class="<%= cycle('odd','even') %>">
	
    <%=h map.comment %><br />
	<span class="author">This <%= link_to map.category, :action => map.category, :id =>"" %> was posted <%= time_ago_in_words(map.created_at) %> ago by <%= link_to map.user.display_name, map.user %>  <% if current_user.nil? %>
		<% else %>
		<% if map.user_id == current_user.id %>
			(<%= link_to 'Edit', edit_map_path(map) %> | <%= link_to 'Remove', map, :confirm => 'Are you sure?', :method => :delete %>)
	<% end %> 
	<% end %>
	<p><%= link_to "Respond to this opinion", map_path(map) %>
	<% if map.category == "article" %>
	 | <a href="/articles/<%= map.ref_id %>">View the corresponding article</a>
	<% end %>
	<% if map.category == "story" %>
	 | <a href="/stories/<%= map.ref_id %>">View the corresponding story</a>
	<% end %>
	</p>
	
	</span>
	</p>
<% end %>
<p>
<%= will_paginate @maps_paginate %>
<%= page_entries_info @maps_paginate, :entry_name => 'opinions' %>
</p>

</div>

